<% layout('layouts/Boilerplate.ejs') %>

<!-- Cluster Map Div -->
<div id="cluster-map"></div>

    <h1>All Cottages</h1>
    <ul>
        <% for (let cottage of cottages) { %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <!-- If no images were found add a default image -->
                        <% if (cottage.images.length == 0) { %>
                            <img class="img-fluid" alt="" src="https://res.cloudinary.com/dfkwvksuu/image/upload/v1668205152/YelpCamp/apnuzkgskx6tbbjaoyj3.avif">
                        <% } else { %>
                            <img class="img-fluid" alt="" src="<%=cottage.images[0].url%>">
                        <% } %> 
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= cottage.title %>
                            </h5>
                            <p class="card-text">
                                <%= cottage.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <%= cottage.location%>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/cottages/<%=cottage._id%>">View
                                <%=cottage.title%></a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </ul>

<!-- The token is needed in the .js file -->
<script>
    MAPBOX_TOKEN = '<%-process.env.MAPBOX_TOKEN%>'
    /* Passing all cottages so it could be used in clusterMap.js with the exception of making it a JSON file and formatting it so its matching the format
       the original clustermap file that had a key `features`. Similar to https://docs.mapbox.com/mapbox-gl-js/assets/earthquakes.geojson*/
    let cottages = {features: <%-JSON.stringify(cottages)%>}
</script>
<script src="/javascripts/clusterMap.js"></script>

    <!-- Test to add custom javascript -->
    <!-- <button id="changeBackground">Change Background</button> -->
    <!-- <script src="/javascripts/test.js"></script> -->